# Cleaning New York City AirBnB Dataset

## 1. Import Libraries

In [1]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('listings.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle Sanctuary,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,49,2022-06-21,0.27,3,365,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,81.0,30,195,2024-10-05,1.03,1,196,4,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.0,30,1,2022-06-05,0.03,2,83,0,NaN
3,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,70.0,30,251,2024-12-01,1.36,1,8,5,NaN
4,7064,"Amazing location! Wburg. Large, bright & tranquil",17297,Joelle,Brooklyn,Williamsburg,40.71248,-73.95881,Private room,NaN,30,13,2022-09-12,0.07,2,0,0,NaN

In [4]:
df_og = df.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37784 entries, 0 to 37783
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              37784 non-null  int64
 1   name                            37782 non-null  object
 2   host_id                         37784 non-null  int64
 3   host_name                       37778 non-null  object
 4   neighbourhood_group             37784 non-null  object
 5   neighbourhood                   37784 non-null  object
 6   latitude                        37784 non-null  float64
 7   longitude                       37784 non-null  float64
 8   room_type                       37784 non-null  object
 9   price                           22969 non-null  float64
 10  minimum_nights                  37784 non-null  int64
 11  number_of_reviews               37784 non-null  int64
 12  last_review                     25892 non-null  object
 13  reviews_per_month               25892 non-null  float64
 14  calculated_host_listings_count  37784 non-null  int64
 15  availability_365                37784 non-null  int64
 16  number_of_reviews_ltm           37784 non-null  int64
 17  license                         5386 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 5.2+ MB

#### Can already see that some of the columns have different counts than the rest.

In [6]:
# First, conversion of data types
# 'price' is an object, most likely because of a '$' in the data
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

# 'last_review' should be a date
df['last_review'] = pd.to_datetime(df['last_review'])

In [7]:
# Checking for null values
df.isnull().sum()

id                                    0
name                                  2
host_id                               0
host_name                             6
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             14815
minimum_nights                        0
number_of_reviews                     0
last_review                       11892
reviews_per_month                 11892
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           32398
dtype: int64

In [8]:
# Dropping rows where 'price' is missing due to it's importance in analysis
df = df.dropna(subset=['price'])

In [9]:
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             1
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        7052
reviews_per_month                  7052
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           18421
dtype: int64

In [10]:
#Fill 'host_name" null with a placeholder
df['host_name'] = df['host_name'].fillna('No Name')

# Fill 'last_review' with a placeholder
df['last_review'] = df['last_review'].fillna('No Reviews')

# Fill 'reviews_per_month' with 0
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

# Fill 'license' with placeholder
df['license'] = df['license'].fillna('No License')

In [11]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle Sanctuary,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,49,2022-06-21 00:00:00,0.27,3,365,0,No License
1,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,81.0,30,195,2024-10-05 00:00:00,1.03,1,196,4,No License
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.0,30,1,2022-06-05 00:00:00,0.03,2,83,0,No License
3,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,70.0,30,251,2024-12-01 00:00:00,1.36,1,8,5,No License
5,7097,"Perfect for Your Parents, With Garden & Patio",17571,Jane,Brooklyn,Fort Greene,40.69194,-73.97389,Private room,205.0,2,395,2024-12-21 00:00:00,2.17,2,261,36,OSE-STRREG-0000008

In [12]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
dtype: int64

### All of the null values are handled.  Now it is time to create visualizations in PowerBI.

In [16]:
# Saving dataframe
df.to_excel('C:/Users/laurc/OneDrive/Documents/Portfolio/ny_airbnb_analysis/listing_clean.xlsx', index=False)